In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

%matplotlib inline

In [2]:
train = pd.read_csv("Fish.csv")

In [3]:
train.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
train.groupby('Species')['Weight'].mean()

Species
Bream        617.828571
Parkki       154.818182
Perch        382.239286
Pike         718.705882
Roach        152.050000
Smelt         11.178571
Whitefish    531.000000
Name: Weight, dtype: float64

In [5]:
def fill_name(fish):
    if 'Species' == "Bream":
        return 0 
    elif 'Species' == "Parkki":
        return 1
    elif 'Species' == "Perch":
        return 2
    elif 'Species' == "Pike":
        return 3
    elif 'Species' == "Roach":
        return 4
    elif 'Species' == "Smelt":
        return 5
    else:
        return 6

In [6]:
train['Species']=train[['Species']].apply(fill_name,axis=1)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Weight',axis=1),
                                                    train['Weight'],test_size=0.30,
                                                    random_state=101)

In [9]:
train.head(1000)

     Species  Weight  Length1  Length2  Length3   Height   Width
0          6   242.0     23.2     25.4     30.0  11.5200  4.0200
1          6   290.0     24.0     26.3     31.2  12.4800  4.3056
2          6   340.0     23.9     26.5     31.1  12.3778  4.6961
3          6   363.0     26.3     29.0     33.5  12.7300  4.4555
4          6   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        6    12.2     11.5     12.2     13.4   2.0904  1.3936
155        6    13.4     11.7     12.4     13.5   2.4300  1.2690
156        6    12.2     12.1     13.0     13.8   2.2770  1.2558
157        6    19.7     13.2     14.3     15.2   2.8728  2.0672
158        6    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [10]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)
print(logmodel.score(X_train,y_train))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Unknown label type: 'continuous'