In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
train = pd.read_csv('appstoreStuff.csv')

In [3]:
#train.head()

In [4]:
train.drop('URL',axis=1,inplace=True)
train.drop('ID',axis=1,inplace=True)
train.drop('Name',axis=1,inplace=True)
train.drop('Subtitle',axis=1,inplace=True)
train.drop('IconURL',axis=1,inplace=True)
train.drop('Description',axis=1,inplace=True)
train.drop('Developer',axis=1,inplace=True)
train.drop('AgeRating',axis=1,inplace=True)
train.drop('Languages',axis=1,inplace=True)
train.drop('In-appPurchases',axis=1,inplace=True)
train.drop('Genres',axis=1,inplace=True)
train.drop('OriginalReleaseDate',axis=1,inplace=True)
train.drop('CurrentVersionReleaseDate',axis=1,inplace=True)
train.drop('Size',axis=1,inplace=True)
train.drop('UserRatingCount',axis=1,inplace=True)

In [5]:
train.head()

   AverageUserRating  Price PrimaryGenre
0                4.0   2.99        Games
1                3.5   1.99        Games
2                3.0   0.00        Games
3                3.5   0.00        Games
4                3.5   2.99        Games

In [6]:
train.groupby('PrimaryGenre')['Price'].count()

PrimaryGenre
Book                     9
Business                16
Education              222
Entertainment          198
Finance                 18
Food & Drink             4
Games                16262
Health & Fitness         5
Lifestyle               10
Medical                  2
Music                    3
Navigation               3
News                     7
Productivity            15
Reference               32
Shopping                 1
Social Networking        9
Sports                  60
Stickers                29
Travel                   1
Utilities               77
Name: Price, dtype: int64

In [7]:
def fillGenre(Genre):
    Genre = Genre[0]
    if Genre=='Game':
        return 0
    elif Genre=='Education':
        return 1
    elif Genre=='Education':
        return 2
    elif Genre=='Entertainment':
        return 3
    elif Genre=='Sports':
        return 4
    elif Genre=='Stickers':
        return 5
    elif Genre=='Utilities':
        return 6
    else:
        return 7
train['PrimaryGenre']=train[['PrimaryGenre']].apply(fillGenre,axis=1)

In [8]:
train.head()

   AverageUserRating  Price  PrimaryGenre
0                4.0   2.99             7
1                3.5   1.99             7
2                3.0   0.00             7
3                3.5   0.00             7
4                3.5   2.99             7

In [9]:
def printNull(varible):
    varible = varible[0]
    if varible == None:
        print(varible)
    try:
        return int(varible)
    except:
        return 0

In [10]:
train['AverageUserRating']=train[['AverageUserRating']].apply(printNull,axis=1)
train['Price']=train[['Price']].apply(printNull,axis=1)
train['PrimaryGenre']=train[['PrimaryGenre']].apply(printNull,axis=1)

In [11]:
train.head()

   AverageUserRating  Price  PrimaryGenre
0                  4      2             7
1                  3      1             7
2                  3      0             7
3                  3      0             7
4                  3      2             7

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
dummieStars = pd.get_dummies(train['AverageUserRating'],drop_first=False)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('AverageUserRating',axis=1),
                                                    train['AverageUserRating']
                                                    ,test_size=0.5,
                                                    random_state=100)

In [15]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)
print(logmodel.score(X_train,y_train))

0.5487475008820416

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.56      1.00      0.72      4780
           1       0.00      0.00      0.00        42
           2       0.00      0.00      0.00       246
           3       0.00      0.00      0.00       704
           4       0.00      0.00      0.00      2248
           5       0.00      0.00      0.00       484

    accuracy                           0.56      8504
   macro avg       0.09      0.17      0.12      8504
weighted avg       0.32      0.56      0.40      8504

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

NameError: name 'average' is not defined